/*#gallery_groups p {
    color: black;
    border: gray solid 1px;
    background-color: white;
    border-radius: 3px;
    display: inline;
    width: 12em;
    padding: 3px;
    text-align: center;
    font-size: .7em;
    position: absolute;

}
#gallery_groups p:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
    border: white solid 1px;
}
*/
.p1 {
    left: 3em;
    opacity: 1;
}
.p3 {right: 3em;
    opacity: .5;
}
.p2 {left: 40%;
    opacity: .5;
}
/*#gallery_groups {
    margin: 0 auto;
    position: relative;
    top: 2em;
    display: block;
    width: 100%;
    height: 2em;
    overflow: auto;
}*/
#content {
    overflow: auto;
}
#gallery {
    width: 80%;
    position: relative;
    margin: 0 auto;
    background-color: rgba(0, 77, 77, 0.2);
    padding: 1em 0;
    overflow: auto;

}
#left img {
    width: 100%;
    height: 100%;
    opacity: .5;
}
#left img:hover {
    opacity: 1;
    cursor: pointer;
}
#left {
    width: 9%;
    height: 60%;
    position: absolute;
    left: 0;
    top: 10em;
    border: white solid 1px;
    background-color: white;
    opacity: 0;
}

#left:hover{
    cursor: pointer;
    opacity: .2;
}

#right:hover {
    cursor: pointer;
    opacity: .2;
}
#right:active {
    opacity: .9;
}
#left:active {
    opacity: .9;
}
#right img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .5;
}
#right img:hover {
    opacity: 1;
    cursor: pointer;
}
#right {
    width: 9%;
    height: 60%;
    position: absolute;
    right: 0;
    top: 10em;
    border: white solid 1px;
    background-color: white;
    opacity: 0;
}

#slide {
    width: 60%;
    height: 30em    ;
    margin-top: 3em;
    float:right;
    display: block;
    position: relative;
    border: white solid 2px;
    overflow: auto;
    padding: 1em;
}
#slide img {
    dislay: block;
    width: 500px;
    height: 350px;
    /*width: 80%;
    height: 80%;
    /*top: 5em;
    left: 10%;*/
    margin: 0 auto;
}

#gallery_slide {
    background-color: black;
    width: 60%;
    height: 55%;
    overflow: hidden;
    position: fixed;
    display: none;
    padding: 0;
    top: 10em;
    left: 20%;
    border-radius: 1em;
    border: white ridge 10px;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
    max-height: 40em;
    /*
    top: 10em;
    right: 40%;
        */
    margin-bottom: 1em;

}

#slideimage   {
    width: 80%;
    display: block;
    position: relative;
    height: auto;
    margin: 0 auto;

}
#slideimage img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    align: middle;
    /*
    width: 100%;
    height: 100%;
    */
}

#slidelabel {
    position: absolute;
    margin: 0 auto;
    display: none;
    top: 2em;
   }
#slidelabel h3 {
    color: white;
    text-align: center;
}

/*slavonicswoon*/
#gallery_thumbnails_slavonicswoon img {
    width: 15em;
    height: 10em;
    display: block;
    float: left;
    margin: 1em;
    position: relative;
    border: black solid 1px;
    border-radius: 10px;
    opacity: .8;
}
#gallery_thumbnails_slavonicswoon img:hover {
    opacity: 1;
    border: white solid 1px;
    cursor: pointer;
}
#gallery_thumbnails_slavonicswoon {
    /*width: 90%;*/
    margin: 0 auto;
    position: relative;
    overflow: auto;
    width: 80%;
    padding:0;
    display: block;
    background-color: black;
    -webkit-border-top-right-radius: 15px;
    padding-top: 1em;
}
/*hotsummernight*/
#gallery_thumbnails_hotsummer img {
    width: 15em;
    height: 10em;
    display: block;
    float: left;
    margin: 1em;
    position: relative;
    border: black solid 1px;
    border-radius: 10px;
    opacity: .8;
}
#gallery_thumbnails_hotsummer img:hover {
    opacity: 1;
    border: white solid 1px;
    cursor: pointer;
}
#gallery_thumbnails_hotsummer {
    /*width: 90%;*/
    margin: 0 auto;
    position: relative;
    overflow: auto;
    width: 80%;
    padding: 0px;
    display: none;
    background-color: black;
    -webkit-border-top-right-radius: 15px;
    padding-top: 1em;
}
/*last_night_of_proms*/
#gallery_thumbnails_lastnight img {
    width: 15em;
    height: 10em;
    display: block;
    float: left;
    margin: 1em;
    position: relative;
    border: black solid 1px;
    border-radius: 10px;
    opacity: .8;
}
#gallery_thumbnails_lastnight img:hover {
    opacity: 1;
    border: white solid 1px;
    cursor: pointer;
}
#gallery_thumbnails_lastnight {
    /*width: 90%;*/
    margin: 0 auto;
    position: relative;
    overflow: auto;
    width: 80%;
    padding: 0px;
    display: none;
    background-color: black;
    -webkit-border-top-right-radius: 15px;
    padding-top: 1em;

}


#tab_header {
    width: 80%;
    position: relative;
    display: block;
    margin: 0 auto;
    /*border: black solid 2px;*/
    /*overflow: auto;*/
    /*height: auto;*/
    padding: 0;
}

#tab_header ul li {
    color: white;
    display: block;
    padding: 1em;
    border-right: white solid 1px;
    padding: 0;
    margin: 0;
    /*height: auto;*/
    padding: .5em;
    list-style: none;
    float: left;
    background-color: black;
    -webkit-border-top-right-radius: 15px;
    /*float: left; */

}
#tab_header ul li:hover {
    cursor: pointer;
}
#tab_header ul {

    height: 2em;
    position: relative;
    /*overflow: auto;*/
    padding: 0;
    margin: 0;
}


footer {
    margin-top: 0;
}

#close {
    float: right;
    margin-right: 1em;
    margin-top: 1em; border-radius: 5px; background-color:red; color: white;
    opacity: .3;
}
#close:hover {opacity: 1; }









