.glyphicon {
  font-size: 4em;
}

.nav-title {
  font-size: 5em;
  margin-top: .3em;
}

.dropdown-menu>li {
  font-size: 6em;
}

body {
  padding-top: 5em;
  background-image: url("../res/images/Bro-logo.png");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 35em;
    background-color: #4D52FF;
}

.container-fluid {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

.content-panel {
  margin: 2.5em;
  padding: 2.5em;
  border-radius: 16px;
  border: 0.3em solid black;
  background-color: rgba(0, 0, 0, 0.7);
}

.content-panel > h1 {
  color: white;
  font-size: 4em;
  text-align: center;
}

.btn {
  font-size: 6em;
  border-radius: 9px;
  margin: .5em .5em 0 .5em;
}
